*
{
    box-sizing: border-box;
}

html,body
{
    margin: 0px;
    user-select: none;
}

.container
{
    width: 100%;
    max-width: unset;
    margin: auto;
    padding: 0px 20px;
    box-sizing: border-box;
    padding: 30px 0px;
}

.MuiDataGrid-columnHeader:focus
{
    outline: none !important;
}


@media screen and (min-width:576px)
{
    .container
    {
        max-width: 540px;
    }
}

@media screen and (min-width:768px)
{
    .container
    {
        max-width: 720px;
    }
}

@media screen and (min-width:992px)
{
    .container
    {
        max-width: 960px;
    }
}

@media screen and (min-width:1200px)
{
    .container
    {
        max-width: 1140px;
    }
}

@media screen and (min-width:1400px)
{
    .container
    {
        max-width: 1320px;
    }
}



