.flex-wrap
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.add-btn
{
    padding: 12px 24px;
    border: none;
    font-family: var(--poppins);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 50px;
    background-color: #5375FF;
    color: #fff;
    margin-left: auto;
    cursor: pointer;
    transition-duration: 300ms;
}

.add-btn:hover
{
    background-color: #3253da;
}

.add-btn > svg
{
    width: 16px;
    height: 16px;
    stroke-width: 3;
}

.no-outline-cell:focus {
    outline: none !important;
}


.date-picker
{
    padding-top: 30px;
}

.datepicker
{
    width: 100% !important;
}

.chip-wrap
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.highlighted-date
{
    background-color: #ff4500;
}